@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap');
body {
  background-color: black;
  font-family: 'Baloo 2', cursive;
}
li {
  color: white;
}
audio {
  margin: 0 auto;
}
hr {
 color: white; 
}
hr{ 
  height: 1px;
  color:white;
  background-color:gray;
  border: none;
}